body {
    font-family: monospace;
}

#filedisplay table {
    white-space: pre;
    width: 100%;
    border-collapse: collapse;
}

tbody {
    border: solid thin;
}

tbody.dummy-spacer {
    border: none;
}
tbody.dummy-spacer td {
    height: 1em;
    border: none;
}

.group-header {
    border-bottom: solid thin;
}

td, .group-header th {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-right: solid thin;
}

.file {
    width: 100%;
    padding: 1px;
}

.file > span {
    display: inline-block;
    overflow: visible;
}

.file > span.name {
    background: Coral;
}

.file > span.padding {
    background: PeachPuff;
    text-align: center;
}




#errors {
    position: fixed;
    bottom: 0;
    width: 100%;
}
